.vscode/*
.idea/*
seminars/03_neuralnetwork/mnist_png/*
seminars/03_neuralnetwork/checkpoint.pth.tar
seminars/03_neuralnetwork/mnist_png.tar.gz
seminars/03_neuralnetwork/mnist_png.tar.gz.1
seminars/03_neuralnetwork/mnist_png.tar.gz.2
seminars/03_neuralnetwork/state_dict.pth.tar
seminars/04_convolutions/volleyball.jpeg